[general]
# words that will be transformed
transform_words=[(' - ','')]
# limit on number of rows on db1
sx_limit=100
# general data directory
data_dir=/Users/Eleonora/Documents/glimpse/data

################### DATA SOURCES ###################
[db1]
host = localhost
user = root
name = w_patstat_eloc
password = 
port = 3306
table = clean_full
columns = ['iid', 'post2', 'city']
to_clean_indices=[1]

[db1_clean]
host = localhost
user = root
name = w_patstat_eloc
password = 
port = 3306
table = clean_full_clean
columns = ['iid', 'post2', 'city']
to_clean_indices=[1]

[db2]
host = localhost
user = root
name = w_aida
password = 
port = 3306
table = clean_full
columns = ['cf', 'post', '`Provincia`', '`Indirizzo sede legale`', '`Indirizzo sede legale - Codice postale`', '`Indirizzo sede legale - Codice ISTAT provincia`', '`Indirizzo sede legale - Codice ISTAT regione`', '`Indirizzo sede legale - Codice ISTAT comune`']
to_clean_indices=[1]

[output]
host = localhost
user = root
name = w_aida
password = 
port = 3306
table = MATCH
columns=['IDP', 'RAGIONE_SOCIALE_P', 'CITY','IDA', 'RAGIONE_SOCIALE_A', 'PROVINCIA','ZIPCODE','SCORE_1','SCORE_2','SCORE_3','SCORE_G']

################### DATA SOURCES ###################

[cleaning_1]
### data sources ###
sourceDb=db1
outputDb=db1_clean
# enumeration of the desired cleaning [source_column, target_column, 'algorithm', [parameters] ]
# a source_column can be used to calculate more than one target_columns
# each target_column must be calculated exactly from one source_column
# if more than one cleaning for pair of columns is defined, then all the cleanings are applied in the order
# cleanings: copy, transform_words, clean_enterprise, zipcode_parser, short_city_parser, 
# wordlist_parser, worddictionary_parser, capitalizer, general_cleaning
cleaning_no=5
cleaning_0=[0,0,'copy']
cleaning_1=[1,1,'capitalizer']
cleaning_2=[1,1,'transform_words']
cleaning_3=[2,2,'capitalizer']
cleaning_4=[2,2,'short_city_parser']

[matching_1]
### data sources ###
sourceDb_1=db1
sourceDb_2=db2
outputDb=output

### blocking ###
blocking_column_1=1
blocking_column_2=1
# criterion lev finds all possible candidates where at least a word of db2 has lev<=blocking_threshold with a word of db1
blocking_criterion=lev
blocking_threshold=0
# words that will be skipped for the blocking
search_discard_words=['SPA','SRL','SCRL']

### comparison ###
columns_from_db1_indices=[0,1,2]
columns_from_db2_indices=[0,1,2,4]
# enumeration of the desired matches [col_db1, col_db2, criterion, [threshold] ]
# criteria: reference_string_contained, reference_zipcode_contained, jaccard, weighted_jaccard
match_no=3
match_0=[1,1,'weighted_jaccard',0.5]
match_1=[2,2,'reference_string_contained']
match_2=[2,4,'reference_zipcode_contained']

### classification ###
keep_only_max_score=Y

[log]
file = /Users/Eleonora/Documents/glimpse/log/matcher.log