[general]
# words that will be transformed
transform_words=[("^\w+'?,\s?\w+$",'')]
# limit on number of rows on db1
sx_limit=-1
# general data directory
data_dir=/Users/Eleonora/Documents/glimpse/data
# behaviour of the matcher
keep_only_max_score=Y

################### DATA SOURCES ###################
[db1]
host = localhost
user = root
name = no_codice
password = sa
port = 3306
table = senza_codici
columns = ['v4']

[t4962]
host = localhost
user = root
name = no_codice
password = sa
port = 3306
table = t4962
columns = ['codimp','codfisc','codccia','denomsta']

[t4963]
host = localhost
user = root
name = no_codice
password = sa
port = 3306
table = t4963
columns = ['codimp','codfisc','codccia','denomsta']

[db1_clean]
host = localhost
user = root
name = no_codice
password = sa
port = 3306
table = senza_codici_clean
columns = ['v4']

[t4962_clean]
host = localhost
user = root
name = no_codice
password = sa
port = 3306
table = t4962_clean
columns = ['codimp','codfisc','codccia','denomsta']

[output_t4962]
host = localhost
user = root
name = no_codice
password = sa
port = 3306
table = output_t4962
columns = ['v4','codimp','codfisc','codccia','denomsta','score_1','score_g']

[output_t4963]
host = localhost
user = root
name = no_codice
password = sa
port = 3306
table = output_t4963
columns = ['v4','codimp','codfisc','codccia','denomsta','score_1','score_g']

[t4963_clean]
host = localhost
user = root
name = no_codice
password = sa
port = 3306
table = t4963_clean
columns = ['codimp','codfisc','codccia','denomsta']

[db2]
host = localhost
user = root
name = w_patstat_eloc
password = 
port = 3306
table = clean_full_clean
columns = ['iid', 'post2', 'city']

[db3]
host = localhost
user = root
name = AIDA
password = 
port = 3306
table = AIDA_INPUT
columns = ['CF','RAGIONE_SOCIALE','CAP','FORMA_GIURIDICA','PROVINCIA','comune','sigla']

[db4]
host = localhost
user = root
name = itaappdb
password = 
port = 3306
table = PATSTAT_INPUT
columns = ['PERSON_ID','APPLN_ID','KIND','LAST_NAME','ADDRESS','CITY']

[db4_output]
host = localhost
user = root
name = itaappdb
password = 
port = 3306
table = PATSTAT_OUT_1
columns = ['PERSON_ID','APPLN_ID','KIND','LAST_NAME','ADDRESS','ADDRESS_1','ADDRESS_2','CITY','CITY_C','PROV_C','CAP_C']

[db5_output]
host = localhost
user = root
name = itaappdb
password = 
port = 3306
table = PATSTAT_OUT_2
columns = ['PERSON_ID','APPLN_ID','KIND','LAST_NAME', 'LAST_NAME_1', 'LAST_NAME_2','LAST_NAME_3','ADDRESS','ADDRESS_2','CITY','CITY_C','PROV_C','CAP_C']



[db3_output]
host = localhost
user = root
name = AIDA
password = 
port = 3306
table = AIDA_INPUT_CLEAN
columns = ['CF','RAGIONE_SOCIALE','CAP','FORMA_GIURIDICA','PROVINCIA','comune','sigla']


[output]
host = localhost
user = root
name = itaappdb
password = 
port = 3306
table = MATCHING_OUT
#db1:['person_id', 'appln_id', 'ragione_sociale','city_c','prov_c','cap_c']
#db3_output:['CF','RAGIONE_SOCIALE','CAP','FORMA_GIURIDICA','PROVINCIA','comune','sigla']
columns=['person_id', 'appln_id', 'ragione_sociale_P', 'city_c_P','prov_c_P','cap_c_P','CF_A','RAGIONE_SOCIALE_A','CAP_A','FORMA_GIURIDICA_A','PROVINCIA_A','COMUNE_A','SIGLA_A','SCORE_1','SCORE_2','SCORE_3','SCORE_4','SCORE_G']


################### DATA SOURCES ###################

[cleaning_1]
### data sources ###
sourceDb=db1
outputDb=db1_clean
# enumeration of the desired cleaning [source_column, target_column, 'algorithm', [parameters] ]
# a source_column can be used to calculate more than one target_columns
# each target_column must be calculated exactly from one source_column
# if more than one cleaning for pair of columns is defined, then all the cleanings are applied in the order
# cleanings: copy, transform_words, clean_enterprise, zipcode_parser, short_city_parser, 
# wordlist_parser, worddictionary_parser, wordlist_parser_keepafter, wordlist_parser_keepbefore, capitalizer, general_cleaning
cleaning_no=5
cleaning_0=[0,0,'copy']
cleaning_1=[0,0,'capitalizer']
cleaning_2=[0,0,'transform_words']
cleaning_3=[0,0,'clean_enterprise']
cleaning_4=[0,0,'general_cleaning']

[cleaning_t4962]
### data sources ###
sourceDb=t4962
outputDb=t4962_clean
# enumeration of the desired cleaning [source_column, target_column, 'algorithm', [parameters] ]
# a source_column can be used to calculate more than one target_columns
# each target_column must be calculated exactly from one source_column
# if more than one cleaning for pair of columns is defined, then all the cleanings are applied in the order
# cleanings: copy, transform_words, clean_enterprise, zipcode_parser, short_city_parser, 
# wordlist_parser, worddictionary_parser, wordlist_parser_keepafter, wordlist_parser_keepbefore, capitalizer, general_cleaning
cleaning_no=8
cleaning_0=[3,3,'copy']
cleaning_1=[3,3,'capitalizer']
cleaning_2=[3,3,'transform_words']
cleaning_3=[3,3,'clean_enterprise']
cleaning_4=[3,3,'general_cleaning']
cleaning_5=[0,0,'copy']
cleaning_6=[1,1,'copy']
cleaning_7=[2,2,'copy']

[cleaning_t4963]
### data sources ###
sourceDb=t4963
outputDb=t4963_clean
# enumeration of the desired cleaning [source_column, target_column, 'algorithm', [parameters] ]
# a source_column can be used to calculate more than one target_columns
# each target_column must be calculated exactly from one source_column
# if more than one cleaning for pair of columns is defined, then all the cleanings are applied in the order
# cleanings: copy, transform_words, clean_enterprise, zipcode_parser, short_city_parser, 
# wordlist_parser, worddictionary_parser, wordlist_parser_keepafter, wordlist_parser_keepbefore, capitalizer, general_cleaning
cleaning_no=8
cleaning_0=[3,3,'copy']
cleaning_1=[3,3,'capitalizer']
cleaning_2=[3,3,'transform_words']
cleaning_3=[3,3,'clean_enterprise']
cleaning_4=[3,3,'general_cleaning']
cleaning_5=[0,0,'copy']
cleaning_6=[1,1,'copy']
cleaning_7=[2,2,'copy']


[cleaning_2]
sourceDb=db3
outputDb=db3_output
#['CF','RAGIONE_SOCIALE','CAP','FORMA_GIURIDICA','PROVINCIA','comune','sigla']
cleaning_no=8
cleaning_0=[0,0,'copy']
cleaning_1=[1,1,'clean_enterprise']
cleaning_2=[1,1,'general_cleaning']
cleaning_3=[2,2,'copy']
cleaning_4=[3,3,'copy']
cleaning_5=[4,4,'copy']
cleaning_6=[5,5,'copy']
cleaning_7=[6,6,'copy']

[cleaning_3]
sourceDb=db4
outputDb=db4_output
#['PERSON_ID','APPLN_ID','KIND','LAST_NAME','ADDRESS','CITY']
#['PERSON_ID','APPLN_ID','KIND','LAST_NAME','ADDRESS','ADDRESS_1','ADDRESS_2','CITY','CITY_C','PROV_C','CAP_C']
#['PERSON_ID','APPLN_ID','KIND','LAST_NAME','ADDRESS','ADDRESS_1','ADDRESS_2','CITY','CITY_C','PROV_C','CAP_C']
cleaning_no=13
cleaning_0=[0,0,'copy']
cleaning_1=[1,1,'copy']
cleaning_2=[2,2,'copy']
cleaning_3=[3,3,'transform_words']
cleaning_4=[4,4,'copy']
cleaning_5=[4,5,'wordlist_parser_keepbefore','streets_prefix.txt']
cleaning_6=[4,6,'wordlist_parser_keepbefore','streets_prefix.txt']
cleaning_7=[4,6,'wordlist_parser_keepbefore','streets_prefix.txt']
cleaning_8=[5,7,'copy']
cleaning_9=[5,8,'wordlist_parser','city_list.txt']
cleaning_10=[5,9,'short_city_parser']
cleaning_11=[5,9,'capitalizer']
cleaning_12=[5,10,'zipcode_parser']

[cleaning_4]
sourceDb=db4_output
outputDb=db5_output
#		   ['PERSON_ID','APPLN_ID','KIND','LAST_NAME','ADDRESS','ADDRESS_1','ADDRESS_2','CITY','CITY_C','PROV_C','CAP_C']
#columns = ['PERSON_ID','APPLN_ID','KIND','LAST_NAME', 'LAST_NAME_1', 'LAST_NAME_2', 'LAST_NAME_3', 'ADDRESS','ADDRESS_2','CITY','CITY_C','PROV_C','CAP_C']
cleaning_no=26
cleaning_0=[0,0,'copy']
cleaning_1=[1,1,'copy']
cleaning_2=[2,2,'copy']
cleaning_3=[3,3,'copy']
cleaning_4=[3,4,'clean_enterprise']
cleaning_5=[3,5,'clean_enterprise']
cleaning_6=[3,5,'general_cleaning']
cleaning_7=[3,5,'capitalizer']
cleaning_8=[3,5,'clean_enterprise']
cleaning_9=[3,6,'clean_enterprise']
cleaning_10=[3,6,'general_cleaning']
cleaning_11=[3,6,'capitalizer']
cleaning_12=[3,6,'wordlist_parser_keepafter','coList.txt']
cleaning_13=[6,7,'wordlist_parser_keepafter','coList.txt']
cleaning_14=[6,8,'wordlist_parser_keepafter','coList.txt']
cleaning_15=[6,8,'clean_enterprise']
cleaning_16=[6,8,'general_cleaning']
cleaning_17=[6,8,'capitalizer']
cleaning_18=[6,8,'clean_enterprise']
cleaning_19=[6,8,'general_cleaning']
cleaning_20=[7,9,'copy']
cleaning_21=[8,10,'copy']
cleaning_22=[8,10,'capitalizer']
cleaning_23=[9,11,'copy']
cleaning_24=[9,11,'capitalizer']
cleaning_25=[10,12,'copy']

########## 

[matching_1]
### data sources ###
#db1:['person_id', 'appln_id', 'ragione_sociale','city_c','prov_c','cap_c']
#db3_output:['CF','RAGIONE_SOCIALE','CAP','FORMA_GIURIDICA','PROVINCIA','comune','sigla']
sourceDb_1=db1_clean
sourceDb_2=t4963_clean

outputDb=output_t4963

### blocking ###
blocking_column_1=0
blocking_column_2=3
# criterion lev finds all possible candidates where at least a word of db2 has lev<=blocking_threshold with a word of db1
blocking_criterion=lev
blocking_threshold=0
# words that will be skipped for the blocking
search_discard_words=['SPA','SRL','SCRL','SOCIETA','ARL','E','LIMITATA','DI','COOPERATIVA', 'SOCIALE','CONSORZIO']

### comparison ###
columns_from_db1_indices=[0]
columns_from_db2_indices=[0,1,2,3]
# enumeration of the desired matches [col_db1, col_db2, criterion, [threshold] ]
# criteria: reference_string_contained, reference_zipcode_contained, jaccard, weighted_jaccard, equals_ignorecase
match_no=1
match_0=[0,3,'weighted_jaccard',0.59]
#match_1=[3,4,'equals_ignorecase']
#match_2=[4,6,'equals_ignorecase']
#match_3=[5,2,'equals_ignorecase']

### classification ###
keep_only_max_score=Y

[log]
file = /Users/Eleonora/Documents/glimpse/log/matcher.log